# IDEs
.idea/
.vscode/
.run/
.DS_Store
*.iml
**/.project
**/.settings
*.code-workspace

# package managers
bower_components/
node_modules/

# operations
**/certificate-signing-request.pem
**/chain.pem

# docs
docs/acd/acd.html

# cds
gen/
target/
db/src/gen
db/csv/
data/afc*.sqlite
data/afc.sqlite-shm
data/afc.sqlite-wal
data/test.sqlite
coverage

# temp
temp/

# test reports
reports/
target/report/
zdm_report.json

# test csn

test-integration/_env/db/*

example-cap-server/data
example-cap-server/package-lock.json

# sqlite
*.db-journal
*.sqlite-journal
*.sqlite

# default env
default-env.json

