registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm/
@sap:registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-milestones-npm/
package-lock=false
strict-ssl=false