registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm/ #RELEASE
@sap:registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm/ #RELEASE
# registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-milestones-npm/ #MILESTONE
# @sap:registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-milestones-npm/ #MILESTONE
strict-ssl=false
package-lock=false
update-notifier=false
audit=false
